/*顶部导航*/
.top-nav{
    line-height: 5rem
}
.nav-logo {
    width: 5rem;
    height: auto;
    margin-top: -0.5rem;
}

.welcome {
    float: left;
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    color: #fff;
    line-height: 5rem;
    letter-spacing: 0.5rem;
}

.login-logout a img {
    width: 2rem;
    height: auto;
    float: left;
    margin: 1.5rem 1.5rem;
}

.login-logout a {
    float: right;
    display: inline-block;
    line-height: 5rem;
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    color: #fff;
}

.login-logout a:hover {
    text-decoration: none;
    color: #68b0ff;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

@media (max-width: 425px) {
    .nav-logo {
        width: 3rem;
        height: auto;
        margin-top: -0.5rem;
    }
    .welcome {
        float: left;
        font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
        color: #fff;
        font-size: 1px;
        line-height: 3.5rem;
        letter-spacing: 0;
    }
    .login-logout a img {
        width: 1.3rem;
        height: auto;
        float: left;
        margin: 1rem 1rem;
    }
    .nav-word {
        display: none;
    }
    .login-logout a {
        float: right;
        display: inline-block;
        line-height: 3.5rem;
        font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
        color: #fff;
        font-size: 1px;
    }
    .login-logout a:hover {
        text-decoration: none;
        color: #68b0ff;
    }
    .navbar {
        border-radius: 0;
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .nav-logo {
        width: 5rem;
        height: auto;
        margin-top: -0.5rem;
    }
    .welcome {
        float: left;
        font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
        color: #fff;
        line-height: 5rem;
        letter-spacing: 0.5rem;
    }
    .login-logout a img {
        width: 2rem;
        height: auto;
        float: left;
        margin: 1.5rem 1.5rem;
    }
    .login-logout a {
        float: right;
        display: inline-block;
        line-height: 5rem;
        font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
        color: #fff;
    }
    .login-logout a:hover {
        text-decoration: none;
        color: #68b0ff;
    }
    .navbar {
        border-radius: 0;
        margin-bottom: 0;
    }
}
